.travel_mainDiv img{
    width:100%;
}
.movie_head{
    font-size:20px;
    padding:6px 22px;
    border-radius:10px;
    margin-bottom:15px;
    }
.movie_head i{
    float:right;
}
.iframe{
    width:100%;
}
.environment_li{
    margin-top:13px;
}
.environmemt_li h4
{
   border-bottom: 1px solid white;
    padding:8px;
}